[Unit]
Description=Cocass
After=network.target

[Service]
User=cocass
Group=cocass
StandardOutput=file:/var/log/cocass/pynbtools.out
StandardError=file:/var/log/cocass/pynbtools.err
Type=simple
Restart=always
ExecStart=/usr/local/bin/cocass -P 10043 -p cocass -d /usr/local/lib/cocass

[Install]
WantedBy=multi-user.target
