input {
    width:2em;
    border-style:none;
    background-color:#B0FFB0;
}

button {
    margin:2em 0.5em;
}


.cell {
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    width:2em;
    height:2.5ex;
    padding:3px;
    text-align:center;
    background-color:#B0B0B0;
}

.expr {
}
