input {
    width:2em;
    border-style:none;
    background-color:#B0FFB0;
}

body {
    background-color:#B0B0FF;
    text-align:center;
    padding: 10% 0px;
}

button {
    margin:0.5em;
}

#maxsol {
    width:5em;
}

.cell {
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    min-width:2em;
    height:2.5ex;
    padding:3px;
    margin:1em 0px;
    text-align:center;
    background-color:#B0B0B0;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 998;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    display: none;
}

#center {
    background-color: #FF8080;
    z-index: 999;
    position: absolute;
    top:48%;
    left:calc(50% - 100px);
    width: 200px;
    text-align: center;
}
